.centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #buttonTop{
    width: 168px;
    height: 68px;
    border-radius: 999px;
    background-color: #E5D8EA;
    margin: 24px;
  }